.popup__input {
    font-size: 14px;
    line-height: 17px;

    background: none;
    border: none;
    border-bottom: 1px solid #000;

    margin: 0 auto 30px;
    padding: 0 0 10px;

    min-width: 238px;
}

.popup__input:last-of-type {
    margin-bottom: 0;
}

@media screen and (min-width: 670px) {
    .popup__input {
        min-width: 358px;
    }
}