.profile__add-button {
    background: url("../../../images/plus-button.svg") no-repeat center;
    background-size: 16px;
    border: 2px solid #fff;

    width: 282px;
    height: 50px;
    padding: 0;

    transition: opacity 400ms;
}

.profile__add-button:hover {
    opacity: 0.6;
}

@media screen and (min-width: 670px){
    .profile__add-button {
        width: 150px;
        margin-left: auto;

        margin-bottom: 17px;
    }
}