.card__like-button {
    background: url("../../../images/like.svg") center no-repeat;
    border: none;

    width: 22px;
    height: 19px;

    transition: 400ms;

    cursor: pointer;
}

.card__like-button:hover {
    opacity: 0.5;
}

.card__like-button:active {
    background: url("../../../images/active-like.svg");
}