.profile__picture {
    border-radius: 50%;

    height: 120px;
    width: 120px;

    margin-bottom: 26px;
}

@media screen and (min-width: 670px) {
    .profile__picture {
        margin-bottom: 0;
    }
}