.popup__form-container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;
}

@media screen and  (min-width: 670px) {
    .popup__form-container {
        min-width: 470px;
    }
}